@import 'tailwindcss';

/* Cores inspiradas no Letterboxd */
@theme {
  --color-fundo: #14181c;
  --color-card: #1f262d;
  --color-borda: #2c3440;
  --color-texto: #9ab;
  --color-verde: #00e054;
  --color-laranja: #ff8000;
  --color-azul: #40bcf4;
}

body {
  background-color: var(--color-fundo);
  color: var(--color-texto);
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}
